@mixin transition($time){
  -webkit-transition: all $time linear;
  -moz-transition: all $time linear;
  -ms-transition: all $time linear;
  -o-transition: all $time linear;
  transition: all $time linear;
}

body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  background: url('../img/pharmacy.jpg') fixed;
  width: 100%;
  height: 100%;
  color: #fff;
}

a {
  @include transition(0.5s);
}

.full-window {
  width: 100vw;
  height: 100vh;

  #welcome {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;

    h1 {
      font-size: 3em;
    }
  }
}

.input-control {
  width: 100%;
  padding: 0;
  position: relative;

  .search-group {
    width: 100%;
  }

  .suggestions {
    padding: 10px 0;
    width: 100%;
    border: 1px solid #bbb;
    position: absolute;
    background-color: #fff;
    color: #000;
    z-index: 999;

    .suggestion {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      @include transition(0.5s);

      &:hover {
        background-color: #b0e0e6;
        cursor: pointer;
      }
    }
  }

}

.selected-items {
  max-height: 200px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
}

#resultTable {
  margin-top: 10px;
  color: #000;

  tr {
    background-color: rgba(255, 255, 255, 0.2);
    @include transition(0.5s);

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

footer p {
  text-align: center;
  font-size: 0.85em;
  color: #333;
}
