body {
  font: 14px 'Source Sans Pro';
}

.input-control {
  width: 100%;
  padding: 0;

  .search-group {
    width: 100%;
  }

  .suggestions {
    padding: 10px 0;
    width: 100%;
    border: 1px solid #bbb;

    .suggestion {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      &:hover {
        background-color: #b0e0e6;
        cursor: pointer;
      }
    }
  }

}
